

h2 {
background-color: yellow ; 
border:2px ; width: 60%;
padding: 15 px;
margin: 20px;
text-align: center;
}
h3 {
background-color: grey ;
border:2px ;width: 60%;
padding: 15 px;
margin: 20px;
text-align: center;
}